@charset "UTF-8";

@media screen and (min-width: 768px) {
    header > span#buguer {
        display: none;
    }

    menu {
        display: block;
    }

    header > menu > ul > li {
        display: inline-block;
        padding: 5px;
        font-size: 18px;
        background-color: black;
        color: white;
        margin: 0px 2px
    }

    main {
        width: 768px;
    }
}
